# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [1]:
a = 52
b = 52
print (a == b)
print (id(a) == id(b))

True
True

Як бачимо, у нас два true, тому змінні рівні і за значенням, і за айдішкою (посилаються на одну комірку в пам'яті)

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [2]:
x = True
print(isinstance(x, bool))

True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [8]:
a = 2.5
b = 10
print(b+a) #додавання
print(b-a) #віднімання
print(a*b) #множення
print(b/a) #ділення без залишку
print(b%a) #остача
print(b//a) #ділення по модулю
print(a**b) #степінь

12.5
7.5
25.0
4.0
0.0
4.0
9536.7431640625

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [4]:
a = 2.5
print("float to int: ", int(a))
c = True
print("bool (True) to int: ", int(c))
d = False
print("bool (False) to int: ", int(d))

float to int:  2
bool (True) to int:  1
bool (False) to int:  0

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [5]:
a = ""
b = ''

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [11]:
a = "'"
print(a)
a = r"'"
print(a)

'
'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [14]:
a = "Gomenyuk"
b = "My surname is " + a
print(b)

My surname is Gomenyuk

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [16]:
a = "My dog is crazy"
print(a.split(" "))

['My', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [18]:
a = [1, 2, 3, 4, 5]
b = list("12345")
print(len(b))

5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [26]:
a = ["i", "love"]
b = ["baked", "potato"]
a.append(b)
print(a)

['i', 'love', ['baked', 'potato']]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [27]:
a = [["i", "love"], ["baked", "potato"], ["fresh", "tomato"]]
print(a[-1][0])

fresh

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [29]:
a = [1, 3.0, "something", True, [1, 2], 45, "y", 8.903, 90, "anything"]
b = a[3:-2]
print(b)

[True, [1, 2], 45, 'y', 8.903]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [10]:
my_tuple = (1,)
print(my_tuple)

(1,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Кортежі, на відміну від списків, незмінні та не мають методів додавання, віднімання елементів, це тільки read only.
Списки ж ми можемо редагувати і змінювати як захочеться.
Списки позначаються квадратними дужками [], кортежі - круглими ().
Також списки повільніші, ніж кортежі.

У обох структур є індексація елементів, слайсинг.
Списки більше використовуються, коли потрібні змінні дані, які можна модифікувати. Кортежі ж там, де потрібна стала, незмінна послідовність даних.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [26]:
tuple1 = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
tuple2 = tuple1[::-2]
print(tuple2)

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [39]:
my_set = set()
my_set.add(9)
my_set.add("lalala")
my_set.add(15)
print(my_set)

{'lalala', 9, 15}

Так, множини є змінним типом даних. Вони можуть змінюватися шляхом додавання, видалення та оновлення елементів.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [40]:
my_list = [1, 1, 2, 67, 67, 8, 9]
set1 = set(my_list)
print(set1)

{1, 2, 67, 8, 9}

Зникли саме ті елементи, які повторюються, адже в множинах не може бути однакових елементів

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [49]:
set1 = {1, 2, 5, 6, 4, 90}
set2 = {90, 6, 4, 3, 67, 1, 80}

union = set1.union(set2)
print("union", union)

difference = set1.difference(set2)
print("difference", difference)

intersection = set1.intersection(set2)
print("intersection", intersection)

symmetric_difference = set1.symmetric_difference(set2)
print("symmetric_difference:", symmetric_difference)

union {1, 2, 3, 4, 5, 6, 67, 80, 90}
difference {2, 5}
intersection {1, 90, 4, 6}
symmetric_difference: {80, 2, 3, 67, 5}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [53]:
dict = {}
dict[18] = "age"
dict["Ksenia"] = "name"
dict[(1, 2, 3)] = "count"
dict[True] = "правда"

print(dict)

{18: 'age', 'Ksenia': 'name', (1, 2, 3): 'count', True: 'правда'}

TypeError: unhashable type: 'list'
Список не може бути ключем, бо список - змінна структура даних, а нам потрібні тількі хешовані

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [57]:
dict1 = {
    "key1":
    {
        "1": "one",
        "2":
        {
            "two":"eng",
            "два":"ukr"
        }
    },
    "key2":
    {
        "3": "three",
        "4": "four"
    }
}
print(dict1["key1"]["2"])

{'two': 'eng', 'два': 'ukr'}

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.